<div class="fullscreen-image-tint" [style.background]="'url('+serviceContent.backgroundImageUrl+')'">
    <app-naviagtor *ngIf="!isMobile"></app-naviagtor>
    <div class="body-container">
        <div class="left">
            <h1>Services</h1>
            <p [innerHTML]="serviceContent.bodyText"></p>
            <div class="w-50">
                <hr>
            </div>
            <div class="button-group-row">
                <button
                    [ngClass]="{'active-button': serviceContent.selectedService == serviceContent.socialMediaServices}"
                    (click)="serviceContent.selectedService = serviceContent.socialMediaServices">Social Media Management
                </button>
                <button
                    [ngClass]="{'active-button': serviceContent.selectedService == serviceContent.websiteDesignServices}"
                    (click)="serviceContent.selectedService = serviceContent.websiteDesignServices">Custom Website Design
                </button>
            </div>
        </div>
        <div class="right">
            <div class="service-item" *ngFor="let service of serviceContent.selectedService">
                <div class="service-title">
                    <h4>{{ service.title }}</h4>
                </div>
                <div class="service-phrases" *ngFor="let phrase of service.phrases">
                    <span>{{ phrase }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
