<nav>
    <div>
        <li><a routerLink="/" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/services" routerLinkActive="is-selected">Services</a></li>
        <li><a routerLink="/team" routerLinkActive="is-selected">Team</a></li>
        <li><a routerLink="/case-studies" routerLinkActive="is-selected">Case Studies</a></li>
        <li><a routerLink="/contact" routerLinkActive="is-selected">Contact Us</a></li>
    </div>
</nav>
