<div class="lookinside">
    <div class="main-container">
        <div class="close-btn-container">
            <i class=" close-btn fa fa-times" aria-hidden="true" (click)="dialogRef.close()"></i>
        </div>
        <h2>It pays to notice the small details</h2>
        <span>Enter your email below to receive a $5 e-transfer!</span>
        <form [formGroup]="PromoFormData" (ngSubmit)="onSubmitPromo(PromoFormData.value)">
            <div class="form-group">
                <input type="email" class="form-control" name="Email" aria-describedby="emailHelp"
                    placeholder="Email" formControlName="Email">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="EmailConfirm" aria-describedby="emailHelp"
                    placeholder="Confirm Email" formControlName="EmailConfirm">
            </div>
            <button style="margin-top: 20px;" type="submit" class="btn btn-primary" [ngClass]="{'inactive-btn': !PromoFormData.valid}" [disabled]="!PromoFormData.valid" >Submit</button>
        </form>
    </div>
</div>
